:root {
    --dark-brown: #503E28;
    --med-brown: #B09472;
    --light-brown: #CAB49A;
    --highlight-brown: #A8845D;
    --dark-yellow: #F7E7BE;
    --med-yellow: #EDDBBD;
    --light-yellow: #FDF4E5;
}

body {
    background-color: #FDF6E3;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

#title {
    color: var(--dark-brown);
    font-weight: 600;
    font-family: "Fredoka", sans-serif;;
}

#gameFrame {
    position: relative;
    max-width: 800px;
    width: 60vw;
    aspect-ratio: 800/569;
    border-radius: 35px;
    background: #FFFEF9;
    overflow: hidden;
}

#endingOverlay {
    position: fixed;
    max-width: 800px;
    width: 60vw;
    aspect-ratio: 800/569;
    border-radius: 35px;
    background-color: rgba(80, 62, 40, 0.75);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#endingText {
    color: var(--dark-yellow);
    font-weight: 600;
    font-size: x-large;
    font-family: "Fredoka", sans-serif;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: var(--med-brown);
}

#upperContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--med-brown);
    border-radius: 25px 25px 0 0;
    width: 100%;
}

#controlPanel {
    width: 73.4%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#cheeseLabel {
    height: 100%;
}

#catsLabel {
    height: 100%;
}

#cheeseDisplay {
    background: var(--light-brown);
    height: 100%;
    width: 13.5%;
    border-radius: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#catToolbar {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 65%
}

.catButton {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--light-brown);
    border: 1px solid var(--med-brown);
    padding: 4px 6px;
    cursor: pointer;
    transition: background 0.2s ease;
}

#chefCat {
    border-radius: 12% 0 0 12%;
}

#iceCat {
    border-radius: 0 12% 12% 0;
}

.catButton span {
    margin-top: 5%;
    font-size: small;
    font-weight: 600;
    color: var(--dark-brown);
}

.catButton:not(:disabled):hover {
    background: var(--dark-yellow);
}

.catButton.activeButton {
    background: var(--light-yellow);
}

.catButton.activeButton:hover {
    background: var(--med-yellow);
}

.divider {
    width: 1.5%;
}

#petCage {
    height: 100%;
    width: auto;
    aspect-ratio: 60/83;
    justify-content: center;
    border-radius: 12%;
}

.catIcon {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#cageIcon {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#cheeseIcon {
    width: 50%;
    height: auto;
    object-fit: contain;
}

#cheeseCount {
    margin-top: 10%;
    font-size: medium;
}

#gameProgressWrapper {
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameProgress {
    appearance: none;
    width: 75%;
    height: 20%;
    border-radius: 100px;
    margin-top: 5%;
    background-color: var(--dark-brown);
    border: 4px solid var(--dark-brown);
    overflow: hidden;
}

#gameProgress::-webkit-progress-bar {
    background-color: var(--dark-brown);
    border-radius: 100px;
}

#gameProgress::-webkit-progress-value {
    background-color: var(--dark-yellow);
    border-radius: 100px;
}

#gameProgressLabel {
    font-size: 0.75em;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    margin-top: 4%;
    color: var(--dark-brown);
}

#gameBackground {
    position: absolute;
    translate: -50%;
    width: 100%;
}

.Button {
    background: var(--med-brown);
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
}

.Button:hover {
    background: var(--highlight-brown);
}

#menuButton {
    display: flex;
    flex-direction: row;
    gap: 15px;
}